*{box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #080808;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    color: #111111;
}
.columna{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#0b286f;
}
.contenido{
    display:flex;
    flex-direction: row;
    background-color: #65D0F4;
    
}
header h1 {
    color:  #f8f3f2;
    margin: 0;
}


main{
    height:66.66%;
    display: flex;
    flex-direction: row;
}
main #cuadro{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#menu{
    color: #ecebea;
    background-color: #66026d;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 2px #5a0084 solid;
}
#menu nav ol {
    display: flex;
    flex-direction: column;
    list-style: none;
}
#menu nav ol li{
    padding-bottom: 60%;
    padding-top: 60%;
}
#menu nav ol li a{
    color: #ded1dd;
    text-decoration: none;
}
#menu nav ol li a:hover{
    background-color: #0b286f;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
#cuadro header{
    background-color: #4d07be;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 50px;
    padding-top: 60px;
    height: 100%;
}
 #uno{
    height: 200px;
    background-image: url('../img/rels_camara_cuadro.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
 #dos{
    height: 200px;
    background-image: url('../img/rels_playa_cuadro.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
#tres{
    height: 200px;
    background-image: url('../img/rosa_cuadro.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
#cuatro{
    height: 200px;
    background-image: url('../img/Rels_gorra.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
 #cinco{
    height: 200px;
    background-image: url('../img/ivan_azul.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
  #seis{
    height: 200px;
    background-image: url('../img/ivan_chamarra.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
  #siete{
    height: 200px;
    background-image: url('../img/ivan_concierto.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
  #ocho{
    height: 200px;
    background-image: url('../img/ivan_disco.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
  #nueve{
    height: 200px;
    background-image: url('../img/alvarito_chamarra.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
  #diez{
    height: 200px;
    background-image: url('../img/alvarito_lentes.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
  #once{
    height: 200px;
    background-image: url('../img/alvarito_local.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }
  #doce{
    height: 200px;
    background-image: url('../img/alvarito_concierto.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border:5px #0d0d57 solid;
 }

footer{
    color: white;
    background-color: #270233;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    
}
footer #nombre{
    padding: 20px;
    padding-left: 1000px;
}
footer #grupo{
    padding: 20px;
    float: left;
}
